<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/starbucks/design-1.jpg">
            <h4>3D modelling</h4>
            <p>
                For the 3D model, we recreated a two-story floor plan of the physical space and made improvements.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/starbucks/design-2.jpg">
            <h4>Digital intervention</h4>
            <p>
                We added a soundtrack, signal lights and some imagery to create an extreme scenario where people are treated ridiculously inspired by the recent racist scandal happened in Starbucks.
            </p>
        </div>
    </div>
</div>
