@import 'variables';
@import 'mixins';

.parallax {
    z-index: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.banner {
    position: relative;
    height: 300px;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        transition: transform 1s linear;
    }

    &.zoomed {
        &:before {
            transition: transform 3s linear;
            transform: translateX(-2.5%) translateY(-2.5%) scale(1.05);
        }
    }

    .shape {
        position: absolute;
        bottom: 0;
        width: 500px;
        height: 230px;
        padding-top: 80px;
        padding-left: 145px;

        .text {
            font-family: $font-family-serif;
            font-size: 48px;
        }
    }

    @include media-breakpoint-up(xs) {
        height: 180px;

        .shape {
            width: 280px;
            height: 100px;
            padding-top: 30px;
            padding-left: 85px;

            .text {
                font-size: 28px;
            }
        }
    }

    &.left {
        &:before {
            background-image: url(/assets/bottom-banner-1.jpg);
            background-position-y: bottom;
        }

        .shape {
            left: 0;
            background-image: url(/assets/snippet-left.svg);
        }

        .text {
            color: #333;
        }
    }

    &.right {
        &:before {
            background-image: url(/assets/bottom-banner-2.jpg);
            background-position-y: center;
        }

        .shape {
            right: 0;
            background-image: url(/assets/snippet-right.svg);
        }

        .text {
            color: #fff;
        }
    }
}
