<div class="container">
    <div class="row">
        <div class="col">
            <iframe src="https://www.youtube.com/embed/fvb5ttyUuJ4"
                #iframe
                width="100%"
                [attr.height]="0.5625 * iframe.clientWidth + 'px'"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>
                Despite Starbucks billing itself as ‘a third place between work and home’, it wasn't as open and welcoming to all as the marketing message suggested. The two young black males who were the victims of the racist scandal did nothing wrong but sitting in a Starbucks shop waiting for their business partner to turn up. The staff called the police just because of their race.
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                We created an extreme scenario where people are treated ridiculously based on some common reasons for discrimination. When the subconscious thoughts were brought to conscious behaviours or even rules within the society, we hope to incite the viewers’ opinions through this bazaar exaggeration set in our Starbucks model.
            </p>
        </div>
    </div>
</div>
