<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/1/discovery-1.png">
            <h4>Qualitative research</h4>
            <p>
                I conducted remote interview sessions to gather user feedback on the existing website.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/1/discovery-2.png">
            <h4>Present findings</h4>
            <p>
                I summarised my findings from the interviews in a report and presented it to the client.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/1/discovery-3.jpg">
            <h4>Discovery</h4>
            <p>
                I then conducted a Design Studio workshop with my team and stakeholders to facilitate discussion around how to improve the site based on the research findings.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/1/discovery-4.jpg">
            <h4>Sketching</h4>
            <p>
                Sketches created by team members and stakeholders based on the proto - personas.
            </p>
        </div>
    </div>
</div>
