<div class="not-parallax">
    <main>
        <div class="container">
            <div class="row">
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-1" [routerLink]="['/blog', 14]"><span>Week 14 - Macro UX - Desk research</span></a>
                    <a class="box box-3" [routerLink]="['/blog', 16]"><span>Week 15 - Field research - Part 2</span></a>
                    <a class="box box-5" [routerLink]="['/blog', 18.2]"><span>Week 16 - Experience prototype</span></a>
                    <a class="box box-7" [routerLink]="['/blog', 20.2]"><span>Week 18 - Experience mapping</span></a>
                    <a class="box box-9" [routerLink]="['/blog', 22]"><span>Week 20 - Testing & improvements</span></a>
                </div>
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-2" [routerLink]="['/blog', 15]"><span>Week 15 - Field research - Part 1</span></a>
                    <a class="box box-4" [routerLink]="['/blog', 17.2]"><span>Processing community day</span></a>
                    <a class="box box-6" [routerLink]="['/blog', 19.2]"><span>Week 17 - Interim design presentation</span></a>
                    <a class="box box-8" [routerLink]="['/blog', 21.2]"><span>Week 19 - Interaction design</span></a>
                    <a class="box box-10" [routerLink]="['/blog', 23]"><span>Week 21 - Final presentation</span></a>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="parallax">
    <app-footer></app-footer>
</div>
