@import 'variables';
@import 'mixins';

:host {
    position: fixed;
    z-index: 300;
}

:host > main {
    .bg-shape {
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
        height: 100vh;
        width: 100vw;
    }

    .bg-left {
        background-image: url(/assets/home-background-left.svg);
    }

    .bg-right {
        background-image: url(/assets/home-background-right.svg);
    }

    $text-height: 72px;
    $left-text-width: 228px;
    $right-text-width: 395px;
    $left-horiz-adjust: -80px;
    $right-horiz-adjust: 0px;

    h1 {
        position: absolute;
        z-index: 2;
        margin: 0;
        font-size: 60px;
        transition: all 0.3s ease-in-out;

        .symbol {
            display: none;
        }

        &.left {
            top: 25%;
            left: calc(25% + #{-$left-text-width/2 + $left-horiz-adjust});
            color: #f2f2f2;

            .symbol > line {
                stroke: #f2f2f2;
            }
        }

        &.right {
            top: 25%;
            left: calc(75% + #{-$right-text-width/2 + $right-horiz-adjust});
            color: #333;

            .symbol > line {
                stroke: #333;
            }
        }
    }

    .shape {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        transition: opacity 0.3s ease-in-out;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        pointer-events: none;

        &.left {
            left: 0;
            background-image: url(/assets/home-background-shape-left.svg);
        }

        &.right {
            right: 0;
            background-image: url(/assets/home-background-shape-right.svg);
        }
    }

    .list {
        position: absolute;
        z-index: 1;
        font-size: 24px;
        font-weight: 300;
        transition: all 0.3s ease-in-out;

        $list-indent: 50px;
        $list-vert-indent: 100px;

        &.left {
            top: calc(25vh + #{$list-vert-indent});
            left: calc(25vw + #{-$left-text-width/2 + $left-horiz-adjust + $list-indent});
            color: #f2f2f2;
        }

        &.right {
            top: calc(25vh + #{$list-vert-indent});
            left: calc(75vw + #{-$right-text-width/2 + $right-horiz-adjust + $list-indent});
            color: #333;
        }
    }

    @media (max-width: breakpoint-max(sm)), (orientation: portrait) {
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .bg-shape:before {
            transition: all 0.3s ease-in-out;
        }

        .bg-top {
            background-image: none;
            position: absolute;
            height: 100vh;

            &:before {
                content: '';
                position: absolute;
                top: -15vh;
                left: 0;
                width: 100%;
                height: 130vh;
                background-image: url(/assets/home-background-top.mobile.svg);
                background-size: cover;
            }
        }

        .bg-bottom {
            background-image: none;
            position: absolute;
            height: 100vh;

            &:before {
                content: '';
                position: absolute;
                top: -15vh;
                left: 0;
                width: 100%;
                height: 130vh;
                background-image: url(/assets/home-background-bottom.mobile.svg);
                background-size: cover;
            }
        }

        $left-text-width: 107px;
        $right-text-width: 184px;

        h1 {
            font-size: 28px;
            cursor: pointer;

            .symbol {
                display: block;
                width: 13px;
                height: 13px;
            }

            &.left {
                top: 10%;
                left: calc(50% + #{-$left-text-width/2 - 60px});
                color: #333;
            }

            &.right {
                top: auto;
                right: auto;
                bottom: 10%;
                left: calc(50% + #{-$right-text-width/2});
                color: #f2f2f2;
            }
        }

        .list {
            &.left {
                top: 20%;
                left: calc(50% + #{-$left-text-width/2 - 60px});
                color: #333;
            }

            &.right {
                top: auto;
                left: calc(50% + #{-$right-text-width/2});
                bottom: 20%;
                color: #f2f2f2;
            }
        }

        .shape {
            display: none;
        }
    }
}
