<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/lloyds/research-1.png">
            <h4>Understanding the data structure</h4>
            <p>I facilitated workshops with stakeholders and the internal project team to understand the existing data structure of the collection. We rearranged the information to be more user friendly and less database orientated.</p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/lloyds/research-2.png">
            <h4>Creating sitemap</h4>
            <p>The sitemap was recreated based on users needs and how easy it is to find a specific type of archival information about ships.</p>
        </div>
    </div>
</div>
