@import 'variables';

header {
    position: absolute;
    z-index: 1;

    .logo {
        margin: 20px;
        background-color: #fff;
        border: 1px solid #bbb;
        width: 103px;
        height: 51px;
        line-height: 50px;
        text-align: center;
    }

    .menu {
        text-align: center;
        margin: 20px;
        border-radius: 50%;
        background-color: #fff;
        width: 60px;
        height: 60px;
        cursor: pointer;

        .icon {
            margin-top: 10px;

            .line1, .line2, .line3 {
                transition: all ease-in-out 0.3s;
                fill: $dark-blue;
            }

            .line1 { transform-origin: 200px 100px; }
            .line2 { transform-origin: (1618px / 2) 500px; }
            .line3 { transform-origin: 200px 900px; }
        }

        &.open {
            $width: 1318px;
            $height: 900px;
            $scaleX: (sqrt(2)*($height - 100px) + 100px) / $width;
            $translateX: ($width - $height)/2;

            .icon {
                .line1 { transform: translateX($translateX) rotate(45deg) scaleX($scaleX); }
                .line2 { transform: scaleX(0.001); }
                .line3 { transform: translateX($translateX) rotate(-45deg) scaleX($scaleX); }
            }
        }

        &.closed {
        }
    }

    &.hifi {
        .menu {
            .icon {
                .line1, .line2, .line3 {
                    fill: #0277BD;
                }
            }
        }
    }
}