<main [ngClass]="isLeftExpanded ? 'left-expanded' : isRightExpanded ? 'right-expanded' : ''">
    <div class="bg-shape bg-left">
        <h1 class="left" [ngClass]="isLeftExpanded ? 'expanded' : ''" (click)="toggleLeft()">
            Design
            <svg class="symbol" width="100px" height="100px" viewBox="0 0 100 100">
                <line x1="0" y1="50" x2="100" y2="50" stroke-width="20"></line>
                <line class="vertical" x1="50" y1="0" x2="50" y2="100" stroke-width="20"></line>
            </svg>
        </h1>
        <div class="shape left" [ngClass]="isLeftExpanded ? 'expanded' : ''"></div>
        <ul class="list left" [ngClass]="isLeftExpanded ? 'expanded' : ''">
            <li><a [routerLink]="['/design', 1]">Button &amp; Wilde</a></li>
            <li><a>MJerred</a></li>
            <li><a>Evicore</a></li>
            <li><a>Blackhawk Intelligence</a></li>
        </ul>
    </div>

    <div class="bg-shape bg-right">
        <h1 class="right" [ngClass]="isRightExpanded ? 'expanded' : ''" (click)="toggleRight()">
            Photography
            <svg class="symbol" width="100px" height="100px" viewBox="0 0 100 100">
                <line x1="0" y1="50" x2="100" y2="50" stroke-width="20"></line>
                <line class="vertical" x1="50" y1="0" x2="50" y2="100" stroke-width="20"></line>
            </svg>
        </h1>
        <div class="shape right" [ngClass]="isRightExpanded ? 'expanded' : ''"></div>
        <ul class="list right" [ngClass]="isRightExpanded ? 'expanded' : ''">
            <li><a>Street</a></li>
            <li><a [routerLink]="['/photographs']">Architecture</a></li>
        </ul>
    </div>
</main>
