@import 'variables';
@import 'mixins';

:host > main {
    position: relative;
    background-image: url(/assets/home-background.svg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    overflow: hidden;

    h1 {
        position: absolute;
        z-index: 1;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        .symbol {
            width: 20px;
            height: 20px;
            vertical-align: middle;

            line {
                transition: all 0.3s ease-in-out;
                transform-origin: center;
                transform: rotate(-90deg);

                &.vertical {
                    transform: rotate(-90deg) scale(1);
                }
            }
        }

        &.left {
            top: 50%;
            left: calc(25% - 154px/2);
            color: #333;

            .symbol > line {
                stroke: #333;
            }
        }

        &.right {
            top: 50%;
            right: calc(25% - 264px/2);
            color: #fff;

            .symbol > line {
                stroke: #fff;
            }
        }

        &.expanded {
            top: 25%;

            &.left {
                color: #fff;

                .symbol > line {
                    stroke: #fff;
                }
            }

            &.right {
                color: #333;

                .symbol > line {
                    stroke: #333;
                }
            }

            .symbol {
                line {
                    transform: rotate(0);

                    &.vertical {
                        transform: rotate(90deg) scale(1);
                    }
                }
            }
        }
    }

    .shape {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        transition: opacity 0.3s ease-in-out;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        pointer-events: none;
        opacity: 0;

        &.left {
            left: 0;
            background-image: url(/assets/home-background-shape-left.svg);
        }

        &.right {
            right: 0;
            background-image: url(/assets/home-background-shape-right.svg);
        }

        &.expanded {
            opacity: 1;
        }
    }

    .list {
        position: absolute;
        opacity: 0;
        font-size: 20px;
        top: 25%;
        transition: all 0.3s ease-in-out;

        &.left {
            left: 10%;
            color: #fff;
        }

        &.right {
            left: calc(100vw - 10% - 264px);
            color: #333;
        }

        &.expanded {
            opacity: 1;

            &.left {
                top: calc(25% + 80px);
            }

            &.right {
                top: calc(25% + 80px);
            }
        }
    }

    @include media-breakpoint-down(sm) {
        background-image: none;

        &:before {
            position: absolute;
            top: -15vh;
            left: 0;
            display: block;
            content: '';
            width: 100vw;
            height: 130vh;
            background-image: url(/assets/home-background.mobile.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            transition: all 0.3s ease-in-out;
        }

        &.left-expanded:before {
            top: 0;
        }

        &.right-expanded:before {
            top: -30vh;
        }

        h1 {
            font-size: 20px;

            .symbol {
                width: 10px;
                height: 10px;
            }

            &.left {
                top: 20%;
                left: calc(50% - 155px/2);
            }

            &.right {
                top: auto;
                bottom: 20%;
                right: calc(50% - 270px/2);
            }

            &.expanded {
                &.left {
                    top: 7%;
                    left: 10%;
                    color: #333;

                    .symbol > line {
                        stroke: #333;
                    }
                }

                &.right {
                    bottom: 7%;
                    right: 10%;
                    color: #fff;

                    .symbol > line {
                        stroke: #fff;
                    }
                }
            }
        }

        .shape {
            &.expanded {
                opacity: 0;
            }
        }
    }
}
