<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/assets/design/3/wireframe-1.png">

            <h4>Homepage</h4>
            <p>
                I created a hub for providers on the homepage so they can quickly find more relevant information.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="/assets/design/3/wireframe-2.png">

            <h4>Provider shortcuts</h4>
            <p>
                I created a provider shortcuts section in the top navigation providing quick access to common features.
                This allows providers to get to these key pages easily throughout the site.
            </p>
        </div>
    </div>
</div>
