@import 'variables';
@import 'mixins';

.intro {
    position: relative;
    z-index: 1;
    background-color: #f2f2f2;
    padding-top: 300px;

    h1 {
        text-align: center;
        font-size: 72px;
        margin-bottom: 80px;
        color: #333;
    }

    h4 {
        color: #333;
        border-bottom: 1px solid #333;
        padding-bottom: 40px;
    }

    p, ul {
        margin-top: 20px;
        font-size: 20px;
    }

    .images {
        margin-top: 100px;

        img {
            width: 100%;
            border: 10px solid #fff;
        }
    }

    @include media-breakpoint-down(sm) {
        padding-top: 100px;

        h1 {
            font-size: 28px;
        }

        h4 {
            font-size: 20px;
        }

        p, ul {
            margin-bottom: 50px;
            font-size: 16px;
        }
    }
}

.visit-site {
    background-color: #f2f2f2;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 80px 0;
    margin-bottom: 453px;

    a {
        display: block;
        margin: 0 auto;
        width: 190px;
        color: #333;
        border: 1px solid #333;
        background-color: #f2f2f2;
        border-radius: 60px;
        padding: 20px 60px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #333;
            color: #f2f2f2;
            border-color: #f2f2f2;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 318px;
        padding: 60px 0;

        a {
            margin-bottom: 40px;
            width: 160px;
            padding: 15px 40px;
        }

        app-side-link {
            margin-top: 20px;
        }
    }
}


.parallax {
    z-index: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
