<div class="container">
    <div class="row">
        <div class="col-sm">
            <iframe src="https://www.youtube.com/embed/V5TTWMP4Zco?rel=0"
                #iframe
                width="100%"
                [attr.height]="0.5627 * iframe.clientWidth + 'px'"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
      
            <h4>Exhibition design</h4>
            <p>
                One aspect of the design was an exhibition to increase awareness around the subject of menstrual sleep. We used an interactive storyboards and VR experience to tell the story of how disturbed menstrual sleep can have an impact on the waking life. The interactive piece explains the difficultes to fall asleep during the night, the VR experience created an unbalanced feeling of the waking life in next day.
            </p>
        </div>
        <div class="col-sm">
            <iframe src="https://www.youtube.com/embed/B7sCn4oWE9Q?rel=0"
                #iframe
                width="100%"
                [attr.height]="0.5627 * iframe.clientWidth + 'px'"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <h4>App design</h4>
            <p>
                We tried to build a connection between the exhibition and the app interface by creating a similar unbalanced feeling. I created an animation at the intro screen where it detects device movement through the gyroscope sensor in mobile devices using ProtoPie. 
            </p>
        </div>
    </div>
</div>
