<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/1/discovery-1.png">
            <h4>Research</h4>
            <p>
                Conducting Design Studio workshop with internal project team and key stakeholders at kick-off meeting.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/1/discovery-2.png">
            <h4>Research</h4>
            <p>
                Sketches created by team members and stakeholders based on proto - persona.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/1/discovery-3.jpg">
            <h4>Discovery</h4>
            <p>
                Conducting Design Studio workshop with internal project team and key stakeholders at kick-off meeting.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/1/discovery-4.jpg">
            <h4>Sketching</h4>
            <p>
                Sketches created by team members and stakeholders based on proto - persona.
            </p>
        </div>
    </div>
</div>
