<main [ngClass]="isLofi$.value ? 'lofi' : 'hifi'">
    <article class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2>Optimise user journey for personalised beauty ecommerce</h2>

                <h3>Background</h3>
                <p>
                        The client has a B2C ecommerce platform sells personalised beauty products.
                        After the initial launch, the site had a very high bounce rate and low conversion rate.
                        Also the stakeholders wanted to restructure the online sales structure. The requirement was
                        to make appropriate design changes to reduce bounce rate and improve conversion.
                </p>

                <h3>My Role</h3>
                <p>
                    My main task was to simplify and improve the user journey and tie it in to the new sales structure required by the business.
                    The main challenge was to understand the latest business needs and create prototypes and wireframes to validate the concept with users. 
                </p>
            </div>

            <div class="col-9">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <a class="other-article prev">
                            Create web presence for SE Asian fashion brand 

                            <div class="arrow">
                                <svg width="150" height="50" viewBox="0 0 1500 500">
                                    <rect class="body" x="0" y="245" width="1500" height="10" />
                                    <rect class="head1" x="0" y="245" width="200" height="10" />
                                    <rect class="head2" x="0" y="245" width="200" height="10" />
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-xs-12 ml-auto">
                        <a class="other-article next">
                            Website redesign for west end accountancy firm

                            <div class="arrow">
                                <svg width="150" height="50" viewBox="0 0 1500 500">
                                    <rect class="body" x="0" y="245" width="1500" height="10" />
                                    <rect class="head1" x="1300" y="245" width="200" height="10" />
                                    <rect class="head2" x="1300" y="245" width="200" height="10" />
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <section class="contact container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2>Sounds good?</h2>

                <a class="link">
                    Get in touch
                    <div class="arrow">
                        <svg width="150" height="50" viewBox="0 0 1500 500">
                            <rect class="body" x="0" y="245" width="1500" height="10" />
                            <rect class="head1" x="1300" y="245" width="200" height="10" />
                            <rect class="head2" x="1300" y="245" width="200" height="10" />
                        </svg>
                    </div>
                </a>
                <a class="link">
                    About me
                    <div class="arrow">
                        <svg width="150" height="50" viewBox="0 0 1500 500">
                            <rect class="body" x="0" y="245" width="1500" height="10" />
                            <rect class="head1" x="1300" y="245" width="200" height="10" />
                            <rect class="head2" x="1300" y="245" width="200" height="10" />
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>