@import 'variables';

main {
    background-image: linear-gradient(#CCCCCC, #A7FFEB, #CCCCCC);
    padding: 20px;

    article {
        border-radius: 15px;
        background-image: linear-gradient(#0277BD, #A7FFEB);
        min-height: 100vh;

        .other-article {
            display: block;
            position: relative;
            background-image: linear-gradient(rgba(2, 119, 189, 0.8), rgba(167, 255, 235, 0.75));
            border-radius: 15px;
            height: 250px;
            padding: 50px;
            color: #fff;
            font-family: $font-family-hifi-sans;
            font-size: 20px;
            bottom: -125px;
            box-shadow: 2px 2px 20px #555;

            .arrow {
                position: absolute;
                bottom: 30px;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                transition: background-color 0.3s ease-in-out;

                > svg {
                    position: absolute;
                    top: 15px;

                    .body, .head1, .head2 {
                        fill: #fff;
                        transition: fill 0.3s ease-in-out;
                    }

                    .head1 {
                        transform: rotate(45deg);
                    }

                    .head2 {
                        transform: rotate(-45deg);
                    }
                }

                &:hover {
                    background-color: #fff;

                    > svg {
                        .body, .head1, .head2 {
                            fill: #0277BD;
                        }
                    }
                }
            }

            &.prev {
                .arrow {
                    left: 20px;

                    > svg {
                        left: 33px;

                        .body, .head1, .head2 {
                            transform-origin: 0 250px;
                        }
                    }
                }
            }

            &.next {
                .arrow {
                    right: 20px;

                    > svg {
                        right: 33px;

                        .body, .head1, .head2 {
                            transform-origin: 1500px 250px;
                        }
                    }
                }
            }
        }
    }
}