<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/death/research-1.png">
            <h4>Literature review</h4>
            <p>
                We explored the topic in the following five aspects around the subject of stillbirth: physical, psychological, social, spiritual and legal. A total number of 80 research articles were reviewed and summarised.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/death/research-2.png">
            <h4>Design synthesis</h4>
            <p>
                I read about 20 articles within the psychological aspect and summarised my findings into three main points in preparation for the data visualisation.
            </p>
        </div>
    </div>
</div>
