<div class="not-parallax">
    <main>
        <div class="container">
            <div class="row">
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-1" [routerLink]="['unit-1']"><span>Unit 1 - UX Studio Practices</span></a>
                    <a class="box box-3" [routerLink]="['unit-3']"><span>Week 3 - Collaborative project</span></a>
                </div>
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-2" [routerLink]="['unit-2']"><span>Unit 2 - Macro UX</span></a>
                    <a class="box box-4" [routerLink]="['unit-4']"><span>Unit 4 - Micro UX</span></a>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="parallax">
    <app-footer></app-footer>
</div>
