<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/1/testing-1.png">
            <h4>Guerrilla user testing</h4>
            <p>
                I went to a local cafe and conducted Guerrilla user testing to validate both wireframe versions, each testing session is recorded using a screen recording tool with the participant's consent.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/1/testing-2.png">
            <h4>Guerrilla user testing</h4>
            <p>
                The prototype was also tested with the same group of users.
            </p>
        </div>
    </div>
</div>
