<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/4/discovery-1.png">
            <h4>Reorganising old content</h4>
            <p>
                Through digital card sorting I moved old content ?? into ?? new categories and merged the new content accordingly.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/4/discovery-2.png">
            <h4>Site map</h4>
            <p>
                I created the new site map based on card sorting.
            </p>
        </div>
    </div>
</div>
