<div class="not-parallax">
    <main>
        <div class="container">
            <div class="row">
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-1" [routerLink]="['/blog', 17]"><span>Week 17 - Collaborative Project</span></a>
                    <a class="box box-3" [routerLink]="['/blog', 19]"><span>Week 19 - Collaborative Project</span></a>
                    <a class="box box-5" [routerLink]="['/blog', 21]"><span>Week 21 - Collaborative Project</span></a>
                </div>
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-2" [routerLink]="['/blog', 18]"><span>Week 18 - Collaborative Project</span></a>
                    <a class="box box-4" [routerLink]="['/blog', 20]"><span>Week 20 - Collaborative Project</span></a>
                    
                </div>
            </div>
        </div>
    </main>
</div>
<div class="parallax">
    <app-footer></app-footer>
</div>
