<div class="not-parallax">
    <main>
        <div class="container">
            <div class="row">
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-1" [routerLink]="['/blog', 17]"><span>Week 1 - Collaborative Project</span></a>
                    <a class="box box-3" [routerLink]="['/blog', 19]"><span>Week 3 - Collaborative Project</span></a>
                    <a class="box box-5" [routerLink]="['/blog', 5]"><span>Week 5 - </span></a>
                </div>
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-2" [routerLink]="['/blog', 18]"><span>Week 2 - Collaborative Project</span></a>
                    <a class="box box-4" [routerLink]="['/blog', 4]"><span>Week 4 - </span></a>
                    <a class="box box-6" [routerLink]="['/blog', 6]"><span>Week 6 - </span></a>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="parallax">
    <app-footer></app-footer>
</div>
