<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/blog/fmp7/pilot.jpg">
            <h4>Research through experiments</h4>
            <p>
                Each session applied a think aloud protocol that allows participants to report their emotions in regard to each combination of sound and textile. The experiment was conducted with 8 participants.
            </p>
        </div>
    
        <div class="col-sm">
            <img src="/assets/blog/fmp7/gsr.jpg">
            <h4>Research through experiments</h4>
            <p>
                A GSR device is also used to detect participants emotional response through the changes in sweat gland activity that are reflective of the intensity of their emotional state. The experiment was conducted with 8 participants.
            </p>
        </div>
    </div>
</div>
