<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/assets/design/1/wireframe-1.gif">

            <h4>Before</h4>
            <p>

            </p>
        </div>
        <div class="col-sm-6">
            <img src="/assets/design/1/wireframe-2.gif">

            <h4>After</h4>
            <p>
                After discussing the available options with the stakeholders, I simplified them into three categories. I quickly created a low fidelity prototype with reduced steps to validate the design assumptions.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="/assets/design/1/wireframe-3.jpg">
            <h4>Low fidelity wireframe version 1</h4>
            <p>
                I created two concepts for the homepage with slightly different focuses. This one focused on explaining how the product works and the social elements.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="/assets/design/1/wireframe-4.jpg">
            <h4>Low fidelity wireframe version 2</h4>
            <p>
                This one focused on selling products and promoting special occasions.
            </p>
        </div>
    </div>
</div>
