<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-10">
            <img src="/assets/design/1/wireframe-1.gif">

            <h4>Low fidelity prototyping</h4>
            <p>
                Based on the user and business requirements, I quickly created a low fidelity prototype to validate the design assumptions
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="/assets/design/1/wireframe-2.">
            <h4>Discovery</h4>
            <p>
                I then conducted Design Studio workshop with my team and stakeholders to facilitate discussion around how to improve the site based on the research findings.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="/assets/design/1/wireframe-3.">
            <h4>Discovery</h4>
            <p>
                I then conducted Design Studio workshop with my team and stakeholders to facilitate discussion around how to improve the site based on the research findings.
            </p>
        </div>
    </div>
</div>
