<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="/assets/design/1/wireframe-1.gif">

            <h4>Homepage - Low fidelity wireframe version 1 </h4>
            <p>
                I created two concepts for the homepage with slightly different focuses. This one focused on explaining how the product works and the social elements.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="/assets/design/1/wireframe-2.gif">

            <h4>Homepage - Low fidelity wireframe version 2</h4>
            <p>
                This one focused on selling products and promoting special occasions.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="/assets/design/1/wireframe-3.jpg">
            <h4>Product Customisation - Current site</h4>
            <p>
                This is how the product customisation feature works on the current site.
                There are more than 5 steps before the customer can make a purchase and more than 3 options at each step.
                The Google Analytics statistics showed a lot of visitors left half way through the process, and some participants from the interviews think there are too many steps and options before they can make a purchase.
                Therefore, I started to redesign a simplified approach for the product customisation feature.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="/assets/design/1/wireframe-4.jpg">
            <h4>Prototype for New Product Customisation Feature</h4>
            <p>
                After discussing the available options with the product owners, I was able to reduce the number of options, so that the purchase can be completed within two or three steps.
                I quickly created a low fidelity prototype to demonstrate this simplified approach and validate the assumptions.
            </p>
        </div>
    </div>
</div>
