<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/blog/macro7/testing1.jpg">
            <h4>User testing</h4>
            <p>
                The feedbacks from user testing sessions informed our iterations on all elements of the design.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/sleep/testing.jpg">
            <h4>User testing</h4>
            <p>
                The feedbacks from user testing sessions informed our iterations on all elements of the design.
            </p>
        </div>
    </div>
</div>
