<div class="not-parallax">
    <main>
        <div class="container">
            <div class="row">
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-1" [routerLink]="['/design', 1]"><span>Button &amp; Wilde</span></a>
                    <a class="box box-2" [routerLink]="['/design', 3]"><span>Evicore</span></a>
                </div>
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-3" [routerLink]="['/design', 2]"><span>MJerred</span></a>
                    <a class="box box-4" [routerLink]="['/design', 4]"><span>Blackhawk Intelligence</span></a>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="parallax">
    <app-banner-link name="Photography" [routerLink]="['/photography']" right></app-banner-link>
    <app-footer></app-footer>
</div>
