<main>
    <div class="container">
        <div class="row">
            <div class="column col-sm-6 col-xs-12">
                <a class="box box-1" [routerLink]="['/design', 1]">Button &amp; Wilde</a>
                <a class="box box-2" [routerLink]="['/design', 3]">Evicore</a>
            </div>
            <div class="column col-sm-6 col-xs-12">
                <a class="box box-3" [routerLink]="['/design', 2]">MJerred</a>
                <a class="box box-4" [routerLink]="['/design', 4]">Blackhawk Intellegence</a>
            </div>
        </div>
    </div>
</main>
<div class="parallax">
    <app-banner-link name="Photography" [routerLink]="['/photography']" right></app-banner-link>
    <app-footer></app-footer>
</div>
