<div class="container">
        <div class="row">
                <div class="col-sm-6">
                        <img src="/assets/design/sleep/story.jpeg">
                        <h4>Interactive storyboards</h4>
                        <p>Different events happened in the storyboards such as getting a cup of tea for the ease of getting to sleep, periodic camps and taking pain killers.
                            
                        </p>
                </div>
                <div class="col-sm-6">
                        <img src="/assets/blog/macro8/exhibition.png">
                        <h4>Interactive storyboards</h4>
                        <p>
                            Each piece of the storyboard required an interaction for the audience to engage with which created a stronger connection with the story. 
                        </p>
                </div>
        </div>
    <div class="row">
        <div class="col">
            <iframe src="https://www.youtube.com/embed/IUPPFljXNJk?rel=0"
                #iframe
                width="100%"
                [attr.height]="0.5627 * iframe.clientWidth + 'px'"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <h4>VR Experience</h4>
            <p>Different audience using the VR headset to experience the story of next day after bad menstrual sleep.</p>
            &nbsp;
        </div>
        <div class="col">
                <iframe src="https://www.youtube.com/embed/qXO9cjL9FAQ?rel=0"
                    #iframe
                    width="100%"
                    [attr.height]="0.5627 * iframe.clientWidth + 'px'"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <h4>App interface</h4>
                <p>I created the app interface to add menstrual sleep elements seemlessly in the current Dreem app. The highlight is that if someone was assessed with menstrual sleep difficulties, her monthly sleep report will be broken down regarding to her menstrual cycle.
                    
                </p>
            </div>
    </div>
    
 
</div>
