<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/death/design-1.jpg">
            <h4>Creating an immersive experience</h4>
            <p>
                Our vision was to create something that makes everyone feel the baby has truly lived and existed so when it's gone the painfulness and sorrow from the bereaved parents are unspeakable. Hopefully the audiences can understand them better and provide the support and time they need for as long as required afterwards.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/death/design-2.jpg">
            <h4>Digital intervention</h4>
            <p>
                We wanted to create an experience where the audience could be the baby inside of the mother's womb listening to the outside world. We made a big plastic bag and placed it in a small room with dim red lights to create the feeling of a mother's womb. We recorded a few scenarios with scripts representing some phases of the pregnancy.
            </p>
        </div>
    </div>
</div>
