<div class="not-parallax">
    <main>
        <div class="container">
            <div class="row">
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-1" [routerLink]="['/design', 6]"><span>M Jerred</span></a>
                    <a class="box box-3" [routerLink]="['/design', 5]"><span>Nested Shapes</span></a>
                    
                </div>
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-2" [routerLink]="['/design', 7]"><span>Blackhawk Intelligence</span></a>
                    
                    
                </div>
            </div>
        </div>
    </main>
</div>
<div class="parallax">
    <app-banner-link name="UX Design" [routerLink]="['/design/ux']" left></app-banner-link>
    <app-footer></app-footer>
</div>
