<div class="not-parallax">
    <main>
        <div class="container">
            <div class="row">
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-1" [routerLink]="['/blog', 32]"><span>Visiting London Textile Museum </span></a>
                    <a class="box box-3" [routerLink]="['/blog', 34]"><span>Field research method brainstorming</span></a>
                    <a class="box box-5" [routerLink]="['/blog', 36]"><span>Experiment plan</span></a>
                    <a class="box box-7" [routerLink]="['/blog', 38]"><span>Conducting research - pilot session</span></a>
                    <a class="box box-7" [routerLink]="['/blog', 40]"><span>Experiments & analysis</span></a>
                    <a class="box box-7" [routerLink]="['/blog', 42]"><span>Ideation, prototyping & testing</span></a>
                    <a class="box box-7" [routerLink]="['/blog', 44]"><span>Co-design workshop - part 2</span></a>
                    <a class="box box-7" [routerLink]="['/blog', 46]"><span>Video shooting & model making</span></a>
                    
                </div>
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-2" [routerLink]="['/blog', 33]"><span>Technical research <br>& RCA degree show</span></a>
                    <a class="box box-4" [routerLink]="['/blog', 35]"><span>Technical exploration</span></a>
                    <a class="box box-6" [routerLink]="['/blog', 37]"><span>London Textile Fair <br>& E-textile workshop</span></a>
                    <a class="box box-8" [routerLink]="['/blog', 39]"><span>Olafur Eliasson exhibition</span></a>
                    <a class="box box-8" [routerLink]="['/blog', 41]"><span>Summarise findings</span></a>
                    <a class="box box-8" [routerLink]="['/blog', 43]"><span>Co-design workshop - part 1</span></a>
                    <a class="box box-8" [routerLink]="['/blog', 45]"><span>Prototyping & testing</span></a>
                    <a class="box box-8" [routerLink]="['/blog', 47]"><span>Final design</span></a>
                   
                </div>
            </div>
        </div>
    </main>
</div>
<div class="parallax">
    <app-footer></app-footer>
</div>
