<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/starbucks/research-1.png">
            <h4>Ethnographic research</h4>
            <p>
                We conducted a full day observation at the Starbucks in Holborn opposite the British Museum during a weekday from 8:30am to 7pm.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/starbucks/research-2.jpg">
            <h4>Recording data</h4>
            <p>
                We recorded biological information, activities, behaviours, sitting placement and duration in the shop of each visitor in order to identity patterns and forge connections.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/starbucks/research-3.png">
            <h4>Data analysis</h4>
            <p>
                We put all the data in one spreadsheet and applied the AEIOU analysis framework. The total head count for the day was around 500 people, we scaled the numbers down proportionally in our model.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/starbucks/research-4.jpg">
            <h4>Sketching</h4>
            <p>
                I sketched some initial ideas of how we could use the Starbucks cups as an element in the model.
            </p>
        </div>
    </div>
</div>
