<div class="not-parallax">
    <main>
        <div class="container">
            <div class="row">
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-1" [routerLink]="['/blog', 24]"><span>Week 24 - Desk research</span></a>
                    <a class="box box-3" [routerLink]="['/blog', 26]"><span>Week 26 - Physical models</span></a>
                    <a class="box box-5" [routerLink]="['/blog', 28]"><span>Week 28 - Prototyping</span></a>
                    <a class="box box-7" [routerLink]="['/blog', 30]"><span>Week 30 - Plant-to-plant workshop</span></a>
                    
                </div>
                <div class="column col-sm-6 col-xs-12">
                    <a class="box box-2" [routerLink]="['/blog', 25]"><span>Week 25 - Field research</span></a>
                    <a class="box box-4" [routerLink]="['/blog', 27]"><span>Week 27 - Interim presentation</span></a>
                    <a class="box box-6" [routerLink]="['/blog', 29]"><span>Week 29 - Volunteering at UX London</span></a>
                    <a class="box box-8" [routerLink]="['/blog', 31]"><span>Week 31 - Final design</span></a>
                   
                </div>
            </div>
        </div>
    </main>
</div>
<div class="parallax">
    <app-footer></app-footer>
</div>
