.container-fluid {
    position: fixed;
    bottom: 0;
    text-align: center;

    $length: 70px;
    $radius: 20px;

    .switch {
        position: relative;
        height: $radius * 1.5;
        width: $length;
        margin: 10px auto;
        border-radius: #{$length / 6} / 50%;
        cursor: pointer;
        transition-property: background-color;
        transition-duration: 500ms;

        &:before{
            content: '';
            display: block;
            position: absolute;
            top: (-$radius / 4);
            border-radius: 50%;
            width: $radius * 2;
            height: $radius * 2;
            box-shadow: 2px 2px 8px #000;
            transition-property: left, background-color;
            transition-duration: 500ms;
        }

        &.lofi {
            background-color: #d5d5d5;

            &:before {
                left: 0;
                background-color: #fff;
            }
        }

        &.hifi {
            background-color: #44f;

            &:before {
                left: $length - $radius * 2;
                background-color: #66f;
            }
        }
    }
}