<a class="sidebar"
    [ngClass]="{ 'left': left, 'right': right, 'invert': invert }"
    [routerLink]="routerLink"
    [style.width]="expanded ? (104 + extend) + 'px' : '104px'"
    (mouseenter)="expanded = true"
    (mouseleave)="expanded = false">

    <div class="arrow" inlineSVG="/assets/arrow.svg"></div>
    <span class="text">{{name}}</span>

    <div class="sidebar-border" [style.width]="expanded ? (81 + extend) + 'px' : '81px'"></div>
    <svg *ngIf="left" class="sidebar-bg" viewBox="0 0 24 52">
        <polyline points="0,1 22,1 0,52" stroke-width="2"></polyline>
    </svg>
    <svg *ngIf="!left" class="sidebar-bg" viewBox="0 0 24 52">
        <polyline points="24,1 2,1 24,52" stroke-width="2"></polyline>
    </svg>
</a>
