<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/1/testing-1.png">
            <h4>Guerrilla user testing</h4>
            <p>
                I went to a local cafe to conduct Guerrilla user testing to validate both versions of the wireframe, for each testing session a video was recorded using a screen capture tool with the participant's consent.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/1/testing-2.png">
            <h4>Guerrilla user testing</h4>
            <p>
                Most participants were able to understand the product concept quickly through the wireframes for the homepage.
                There was a mixed response to sections such as the live Instagram feed and featured products.
                Participants were able to pick up how to use the prototype for the customisation feature easily, and were impressed with the result in a short time.
            </p>
        </div>
    </div>
</div>
