<div class="container">
    <div class="row">
        <div class="col">
            <iframe src="https://www.youtube.com/embed/9r0TmfBa9Yw?rel=0"
                #iframe
                width="100%"
                [attr.height]="0.5627 * iframe.clientWidth + 'px'"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
           
            <p>We designed a prototype that demonstrates our findings from the research in a visually engaging way. We chose to tell a short story in the life of a menstruating woman, in this case through the lens of Chun Li because she’s a fictional character mostly seen as a strong empowering fighter like all women. However, as a female she might experience difficulties with sleep during menstruation. Through this model, we are aiming to demonstrate how female’s emotion and self perception in her waking life can be influenced by bad menstrual sleep in subtle ways.</p>
        </div>
        <div class="col">
            <iframe src="https://www.youtube.com/embed/0D8WVS42S74?rel=0"
            #iframe
            width="100%"
            [attr.height]="0.5627 * iframe.clientWidth + 'px'"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        
        <p>We also created a short video with the stories from some of our interviewees where they talk about the pain points during menstrual sleep. We felt that this was a more compelling and immersive way to demonstrate their experience and create empathy than just showing some quotes.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/sleep/experience2.png">
            <h4>User experience map</h4>
            <p>
                We created a monthly experience map of menstruation sleep from pre to post using the findings from previous interviews, sleep diaries and reviews. Using categories such as anxiety level, physical experience, behaviour & self-perception and positive, neutral and negative feelings which we felt were important categorises in how we wanted our experience to feel and not to feel for the people intending to use our experience.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/blog/macro5/journey1.png">
            <h4>User journey map</h4>
            <p>
                Based on the experience map, the user journey map provided us with insights to idendify design opportunities. For instance, many females expressed a high level of anxiety during sleep at the pre-menstrual period due to the paranoia of leaking. Adding a period calendar and pre-menstruation relaxation program would allow Dreem Coach (part of the existing mobile app) to support menstrual sleep within the current app structure.
            </p>
        </div>
    </div>
</div>
