<div class="not-parallax">
    <app-side-link *ngIf="!isMobile" name="Lloyd's Register Foundation HEC" [extend]="320" [routerLink]="['/design', 2]" right></app-side-link>

    <div class="intro">
        <h1>Button &amp; Wilde</h1>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4>Background</h4>
                    <p>
                        The client has a B2C ecommerce platform which sells personalised beauty products. Through remote moderated research, I discovered customers had difficulties using the online personalisation tool which led to a low conversion rate.
                    </p>
                </div>
                <div class="col-sm">
                    <h4>My Role</h4>
                    <p>
                        I proposed and lead the redesign process of the online personalisation tool. I restructured the layout and content on the homepage so the product concept is clearly communicated. I created a prototype with simplified user journey using Axure RP and conducted guerrilla user testing to refine the prototype.
                    </p>
                </div>
                <div class="col-sm">
                    <h4>My Contribution</h4>
                    <ul>
                        <li>Remote Moderated Research</li>
                        <li>Design Studio Workshop</li>
                        <li>Wireframing</li>
                        <li>Prototyping</li>
                        <li>Guerrilla User Testing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <app-tabs>
        <app-tab heading="Research" height="1091px"><app-design-tab-discovery></app-design-tab-discovery></app-tab>
        <app-tab heading="Prototype" height="1193px"><app-design-tab-wireframe></app-design-tab-wireframe></app-tab>
        <app-tab heading="Testing" height="668px"><app-design-tab-testing></app-design-tab-testing></app-tab>
        <app-tab heading="Design" height="839px"><app-design-tab-design></app-design-tab-design></app-tab>
    </app-tabs>

    <div class="visit-site">
            <a href="http://buttonandwilde.com/" target="_blank" rel="noopener">Visit Site</a>

        
        <p class="copyright">Project at Appnova. All brands featured own the respective copyright of the projects presented.</p>

        

        <app-side-link *ngIf="isMobile" name="Lloyd's Register Foundation HEC" [extend]="260" [routerLink]="['/design', 2]" right></app-side-link>
    </div>
</div>

<div class="parallax">
    <app-banner-link name="UI Design" [routerLink]="['/design/ui']" right></app-banner-link>
    <app-footer></app-footer>
</div>
