<main class="parallax" [ngClass]="isLofi$.value ? 'lofi' : 'hifi'">
    <router-outlet name="header"></router-outlet>

    <div class="parallax-group">
        <div class="parallax-background"></div>
        <div class="container">
            <a class="parallax-layer parallax-layer-1" routerLink="/portfolio/1">
                Optimise user journey for personalised beauty ecommerce

                <div class="arrow">
                    <svg width="150" height="50" viewBox="0 0 1500 500">
                        <rect class="body" x="0" y="245" width="1500" height="10" />
                        <rect class="head1" x="1300" y="245" width="200" height="10" />
                        <rect class="head2" x="1300" y="245" width="200" height="10" />
                    </svg>
                </div>
            </a>
            <a class="parallax-layer parallax-layer-2" routerLink="/portfolio/2">
                2
                <div class="arrow">
                    <svg width="150" height="50" viewBox="0 0 1500 500">
                        <rect class="body" x="0" y="245" width="1500" height="10" />
                        <rect class="head1" x="1300" y="245" width="200" height="10" />
                        <rect class="head2" x="1300" y="245" width="200" height="10" />
                    </svg>
                </div>
            </a>
            <a class="parallax-layer parallax-layer-3" routerLink="/portfolio/3">
                3
                <div class="arrow">
                    <svg width="150" height="50" viewBox="0 0 1500 500">
                        <rect class="body" x="0" y="245" width="1500" height="10" />
                        <rect class="head1" x="1300" y="245" width="200" height="10" />
                        <rect class="head2" x="1300" y="245" width="200" height="10" />
                    </svg>
                </div>
            </a>
            <a class="parallax-layer parallax-layer-4" routerLink="/portfolio/4">
                4
                <div class="arrow">
                    <svg width="150" height="50" viewBox="0 0 1500 500">
                        <rect class="body" x="0" y="245" width="1500" height="10" />
                        <rect class="head1" x="1300" y="245" width="200" height="10" />
                        <rect class="head2" x="1300" y="245" width="200" height="10" />
                    </svg>
                </div>
            </a>
        </div>
    </div>
</main>