<div class="container">
    <div class="row">
        <div class="col">
            <iframe src="https://www.youtube.com/embed/Uf-Ode5OGhc"
                #iframe
                width="100%"
                [attr.height]="0.5627 * iframe.clientWidth + 'px'"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <p>The design outcome was an temporary environment in the form of an inflatable room. Viewers were invited to enter the room where they sat on the floor. A multimodal experience involving light, sound, and space conjured the distressing circumstances of a still-birth.</p>
        </div>
    </div>
  
</div>
