@import 'variables';
@import 'mixins';

.content {
    background-color: #f2f2f2;
    position: relative;
    z-index: 1;

    .navbar {
        padding-bottom: 0;

        .nav-item {
            font-family: $font-family-serif;
            font-size: 22px;
            height: 60px;
            line-height: 44px;
            width: 200px;
            margin-left: 6px;
            margin-right: 6px;
            text-align: center;
            color: #333;
            background-color: #fff;
            border-radius: 20px 20px 0 0;

            &.active {
                color: #fff;
                background-color: #333;
                box-shadow: -4px -3px 20px -4px #333;
            }
        }
    }

    .tabs {
        background-color: #333;
        color: #fff;
        position: relative;
        overflow: hidden;
        //min-height: 600px;
    }
}

.mobile-content {

    accordion /deep/ {
        accordion-group {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .panel {
            background-color: transparent;
            border: none;
        }

        .panel-heading {
            background-color: #fff;
            border-radius: 20px 20px 0 0;
            border-bottom: none;
            cursor: pointer;
            font-family: $font-family-serif;
            font-size: 24px;
            line-height: 24px;
            transition: all 0.3s ease-in-out;

            .symbol {
                width: 25px;
                height: 25px;
                vertical-align: middle;
                float: right;
                stroke: #333;

                line {
                    transition: all 0.3s ease-in-out;
                    transform-origin: center;
                    transform: rotate(-90deg);

                    &.vertical {
                        transform: rotate(-90deg) scale(1);
                    }
                }
            }
        }

        .panel-collapse {
            background-color: #333;
            color: #fff;
        }

        .panel-open {
            .panel-heading {
                background-color: #333;
                color: #fff;

                .symbol {
                    stroke: #fff;

                    line {
                        transform: rotate(0);

                        &.vertical {
                            transform: rotate(90deg) scale(1);
                        }
                    }
                }
            }
        }
    }
}
