@import 'variables';
@import 'mixins';

:host {
    display: block;
    z-index: 3000;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.3s ease-in-out;

    &.is-scrolled {
        background-color: #f2f2f2;
        box-shadow: 2px 2px 5px rgba(51,51,51,0.3);

        &.invert {
            background-color: #333;
        }
    }
}

a {
    position: fixed;
    z-index: 3000;
    display: inline-block;
    left: calc(50vw - 400px/2);
    transition: left 0.3s ease-in-out;

    object {
        height: 260px;
        pointer-events: none;
        transition: height 0.3s ease-in-out;
    }

    &.is-home {
        left: calc(50vw - (50vh * 3 / 8) - 108px);
    }

    &.scrolled {
        left: calc(50vw - 108px/2);

        object {
            height: 70px;
        }
    }

    @include media-breakpoint-down(lg) {
        left: calc(50vw - 300px/2);

        object {
            height: 195px;
        }

        &.is-home {
            left: calc(50vw - (50vh * 3 / 8) - 80px);
        }
    }

    @include media-breakpoint-down(sm) {
        left: calc(50vw - 108px/2);

        object {
            height: 70px;
        }

        &.is-home {
            left: calc(50vw - 108px/2);
        }

        &.scrolled {
            left: calc(50vw - 108px/2);

            object {
                height: 70px;
            }
        }
    }
}

.menu-btn {
    position: fixed;
    top: 32px;
    right: 20px;
    z-index: 5000;
    cursor: pointer;

    > svg {
        width: 45px;
        stroke: #333;
        vertical-align: middle;
        transition: stroke 0.5s ease-in-out;

        .line-1, .line-2 {
            transition: transform 0.5s ease-in-out;
        }

        .line-1 {
            transform-origin: 86px 4px;
        }

        .line-2 {
            transform-origin: 86px 26px;
        }

        @include media-breakpoint-down(sm) {
            width: 35px;
        }
    }

    &.open {
        > svg {
            @include media-breakpoint-up(md) {
                stroke: #f2f2f2;
            }

            $scale: sqrt(2 * 56*56) / 82;

            .line-1 {
                transform: rotate(-45deg) scaleX($scale);
            }

            .line-2 {
                transform: translateY(34px) rotate(45deg) scaleX($scale);
            }
        }
    }

    &.invert {
        > svg {
            stroke: #f2f2f2;
        }

        &.open > svg {
            @include media-breakpoint-down(sm) {
                stroke: #333;
            }
        }
    }
}
