@import 'variables';
@import 'mixins';

a {
    display: inline-block;
    position: fixed;
    z-index: 300;
    left: calc(50vw - 175px);
    transition: left 0.3s ease-in-out;

    object {
        width: 400px;
        top: 20px;
        transition: width 0.3s ease-in-out;
        pointer-events: none;
    }

    &.is-home {
        left: calc(50vw - (50vh * 3 / 8) - 108px);
    }

    &.scrolled {
        left: calc(50vw - 150px/2);

        object {
            width: 150px;
        }
    }

    @include media-breakpoint-down(sm) {
        left: calc(50vw - 100px/2);

        object {
            width: 100px;
        }

        &.is-home {
            left: calc(50vw - 100px/2);
        }
    }
}
