@import 'variables';
@import 'mixins';

a {
    position: fixed;
    z-index: 300;
    display: inline-block;
    left: calc(50vw - 175px);
    transition: left 0.3s ease-in-out;

    object {
        width: 400px;
        top: 20px;
        transition: width 0.3s ease-in-out;
        pointer-events: none;
    }

    &.is-home {
        left: calc(50vw - (50vh * 3 / 8) - 108px);
    }

    &.scrolled {
        left: calc(50vw - 150px/2);

        object {
            width: 150px;
        }
    }

    @include media-breakpoint-down(sm) {
        left: calc(50vw - 100px/2);

        object {
            width: 100px;
        }

        &.is-home {
            left: calc(50vw - 100px/2);
        }

        &.scrolled {
            left: calc(50vw - 100px/2);

            object {
                width: 100px;
            }
        }
    }
}

.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 500;
    cursor: pointer;

    > svg {
        width: 45px;
        stroke: #333;
        vertical-align: middle;
        transition: stroke 1s ease-in-out;

        .line-1, .line-2 {
            transition: transform 1s ease-in-out;
        }

        .line-1 {
            transform-origin: 86px 4px;
        }

        .line-2 {
            transform-origin: 86px 26px;
        }

        @include media-breakpoint-down(sm) {
            width: 35px;
        }
    }

    &.open {
        > svg {
            @include media-breakpoint-up(sm) {
                stroke: #f2f2f2;
            }

            $scale: sqrt(2 * 56*56) / 82;

            .line-1 {
                transform: rotate(-45deg) scaleX($scale);
            }

            .line-2 {
                transform: translateY(34px) rotate(45deg) scaleX($scale);
            }
        }
    }

    &.invert {
        > svg {
            stroke: #f2f2f2;
        }

        &.open > svg {
            @include media-breakpoint-down(sm) {
                stroke: #333;
            }
        }
    }
}
