<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/1/design-1.jpg">
            <h4>Iteration</h4>
            <p>
                I iterated the wireframe for homepage based on user feedback. The update of the customisation feature was scheduled in the next phase.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/1/design-2.jpg">
            <h4>UI Design</h4>
            <p>
                The final UI design created based on the wireframe.
            </p>
        </div>
    </div>
</div>
