<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/1/design-1.jpg">
            <h4>Iteration</h4>
            <p>
                After a few rounds of iteration, I finalised the wireframe for the homepage based on user's feedback, combining the most relevant features from both versions.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/1/design-2.jpg">
            <h4>UI Design</h4>
            <p>
                This is the final UI design created based on the wireframe.
                The new design for the homepage is live, however, the new product customisation feature is still under development.
            </p>
        </div>
    </div>
</div>
