<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/3/discovery-1.jpg">
            <h4>Card sorting</h4>
            <p>
                Initially, I used the card sorting technique with stakeholders to reorganise the existing information.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/3/discovery-2.jpg">
            <h4>Site map</h4>
            <p>
                I created the new site map based on card sorting.
            </p>
        </div>
    </div>
</div>
