<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/starbucks/prototype-1.jpg">
            <h4>Representing groups of people</h4>
            <p>
                We used different coloured balls to represent different groups of people and placed them on a rough floor plan of the place to show their preferred sitting areas.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/starbucks/prototype-2.jpg">
            <h4>Representing length of stay</h4>
            <p>
                We used coffee spray to show how long people stayed, where the darker the coffee mark means the longer they stayed and vice versa.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/starbucks/prototype-3.jpg">
            <h4>Representing human behaviours</h4>
            <p>
                I collected some used Starbucks paper cups and carved through some cups to create illustrations of people’s behaviours in the shop.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/starbucks/prototype-4.jpg">
            <h4>First prototype of the model</h4>
            <p>
                We focused on showing the seating arrangements of different groups of people, as well as the duration of their stay and behaviour when they were in the shop on a timeline of the day.
            </p>
        </div>
    </div>
</div>
