<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/blog/macro4/interview1.png">
            <h4>Interviews</h4>
            <p>
                Through semi structured interviews we discovered that a proportion of females have difficulties with sleep especially in the first 1-2 days of menstruation due to physical pain and paranoia of the leaking. It has an impact on self-perception and emotional wellbeing in their waking life.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/blog/macro4/sleep.jpg">
            <h4>Dairy studies</h4>
            <p>
                We asked participants to write journals about their sleep during menstruation, the results were in depth and created strong empathy and understanding of their pain points. We used category analysis to create a structured understanding of the raw data collected. 
            </p>
        </div>
    </div>
</div>
