<main class="clearfix">
    <div class="container">
        <div class="row">
            <div class="column col-sm-6 col-xs-12">
                <img src="/assets/photographs/1.jpg">
                <img src="/assets/photographs/2.jpg">
            </div>
            <div class="column col-sm-6 col-xs-12">
                <img src="/assets/photographs/3.jpg">
                <img src="/assets/photographs/4.jpg">
            </div>
        </div>
    </div>
</main>

<div class="parallax">
    <div class="design clearfix">
        <a [routerLink]="['/design']">
            <div class="shape">
                <span class="text">Design</span>
            </div>
        </a>
    </div>

    <app-footer></app-footer>
</div>
