<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/4/design-1.png">
            <h4>Homepage</h4>
            <p>
                Different colour code to represent each main service category.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/4/design-2.png">
            <h4>Secondary landing page</h4>
            <p>
                All pages under the same service category are represented by the same colour code. Users can see all relevant content and ??? make enquiry ??? on the landing page.
            </p>
        </div>
    </div>
</div>
