$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$font-family-base: 'Arial';

$font-family-lofi: 'Arial';
$font-family-hifi: 'Cormorant';
$font-family-hifi-sans: 'Expletus Sans';