@import 'variables';
@import 'mixins';

:host > main {
    .bg-shape {
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
        height: 100vh;
        width: 100vw;
    }

    .bg-left {
        background-image: url(/assets/home-background-left.svg);
    }

    .bg-right {
        background-image: url(/assets/home-background-right.svg);
    }

    $text-height: 72px;
    $left-text-width: 228px;
    $right-text-width: 395px;
    $left-horiz-adjust: -80px;
    $right-horiz-adjust: 40px;

    h1 {
        position: absolute;
        z-index: 2;
        cursor: pointer;
        margin: 0;
        font-size: 60px;
        transition: all 0.3s ease-in-out;

        .symbol {
            width: 35px;
            height: 35px;
            vertical-align: middle;

            line {
                transition: all 0.3s ease-in-out;
                transform-origin: center;
                transform: rotate(-90deg);

                &.vertical {
                    transform: rotate(-90deg) scale(1);
                }
            }
        }

        &.left {
            top: calc(50% - #{$text-height/2});
            left: calc(25% - #{$left-text-width/2});
            color: #333;

            .symbol > line {
                stroke: #333;
            }
        }

        &.right {
            top: calc(50% - #{$text-height/2});
            left: calc(75% - #{$right-text-width/2});
            color: #fff;

            .symbol > line {
                stroke: #fff;
            }
        }

        &.expanded {
            &.left {
                top: 25%;
                left: calc(25% + #{-$left-text-width/2 + $left-horiz-adjust});
                color: #fff;

                .symbol > line {
                    stroke: #fff;
                }
            }

            &.right {
                top: 25%;
                left: calc(75% + #{-$right-text-width/2 + $right-horiz-adjust});
                color: #333;

                .symbol > line {
                    stroke: #333;
                }
            }

            .symbol {
                line {
                    transform: rotate(0);

                    &.vertical {
                        transform: rotate(90deg) scale(1);
                    }
                }
            }
        }
    }

    .shape {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        transition: opacity 0.3s ease-in-out;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        pointer-events: none;
        opacity: 0;

        &.left {
            left: 0;
            background-image: url(/assets/home-background-shape-left.svg);
        }

        &.right {
            right: 0;
            background-image: url(/assets/home-background-shape-right.svg);
        }

        &.expanded {
            opacity: 1;
        }
    }

    .list {
        position: absolute;
        z-index: 1;
        opacity: 0;
        font-size: 24px;
        font-weight: 300;
        pointer-events: none;
        transition: all 0.3s ease-in-out;

        $list-indent: 50px;
        $list-vert-indent: 100px;

        &.left {
            top: 25%;
            left: calc(25vw + #{-$left-text-width/2 + $left-horiz-adjust + $list-indent});
            color: #fff;
        }

        &.right {
            top: 25%;
            left: calc(75vw + #{-$right-text-width/2 + $right-horiz-adjust + $list-indent});
            color: #333;
        }

        &.expanded {
            opacity: 1;
            pointer-events: auto;

            &.left {
                top: calc(25vh + #{$list-vert-indent});
            }

            &.right {
                top: calc(25vh + #{$list-vert-indent});
            }
        }
    }

    @media (max-width: breakpoint-max(sm)), (orientation: portrait) {
        background-image: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .bg-shape:before {
            transition: all 0.3s ease-in-out;
        }

        .bg-left {
            background-image: none;
            position: absolute;
            height: 100vh;

            &:before {
                content: '';
                position: absolute;
                top: -15vh;
                left: 0;
                width: 100%;
                height: 130vh;
                background-image: url(/assets/home-background-top.mobile.svg);
                background-size: cover;
            }
        }

        .bg-right {
            background-image: none;
            position: absolute;
            height: 100vh;

            &:before {
                content: '';
                position: absolute;
                top: -15vh;
                left: 0;
                width: 100%;
                height: 130vh;
                background-image: url(/assets/home-background-bottom.mobile.svg);
                background-size: cover;
            }
        }

        &.left-expanded .bg-right:before {
            top: 0;
        }

        &.right-expanded .bg-right:before {
            top: -30vh;
        }

        $left-text-width: 107px;
        $right-text-width: 184px;

        h1 {
            font-size: 28px;

            .symbol {
                width: 13px;
                height: 13px;
            }

            &.left {
                top: 20%;
                left: calc(50% + #{-$left-text-width/2});
            }

            &.right {
                top: auto;
                right: auto;
                bottom: 20%;
                left: calc(50% + #{-$right-text-width/2});
            }

            &.expanded {
                &.left {
                    top: 20%;
                    left: calc(50% + #{-$left-text-width/2 - 60px});
                    color: #333;

                    .symbol > line {
                        stroke: #333;
                    }
                }

                &.right {
                    top: auto;
                    right: auto;
                    bottom: 20%;
                    left: calc(50% + #{-$right-text-width/2});
                    color: #fff;

                    .symbol > line {
                        stroke: #fff;
                    }
                }
            }
        }

        .list {
            &.left {
                top: 20%;
                left: calc(50% + #{-$left-text-width/2 - 60px});
                color: #333;
            }

            &.right {
                top: auto;
                left: calc(50% + #{-$right-text-width/2});
                bottom: 20%;
                color: #fff;
            }

            &.expanded {
                &.left {
                    top: calc(20% + 60px);
                }

                &.right {
                    top: auto;
                    left: calc(50% + #{-$right-text-width/2});
                    bottom: calc(20% + 60px);
                }
            }
        }

        .shape {
            display: none;
        }
    }
}
