<footer>
    <div class="container clearfix">
        <div class="top">
            <div class="name">
                <object type="image/svg+xml" data="/assets/wan.svg"></object>
            </div>
            <div class="email">
                <a href="mailto:wanli.work@gmail.com">wanli.work@gmail.com</a>
            </div>
            <div class="social-media">
                <a href="https://www.instagram.com/784533l/" target="_blank" rel="noopener">Instagram</a>
                <a href="https://www.linkedin.com/in/wan-li-7897a153/" target="_blank" rel="noopener">LinkedIn</a>
            </div>
        </div>
        <div class="bottom float-right">
            &#169; Wan Li All Rights Reserved 2017
        </div>
    </div>
</footer>
