.sidebar {
    position: fixed;
    display: block;
    color: #333;
    margin-top: 100px;
    z-index: 3;
    font-size: 18px;
    line-height: 50px;
    width: 104px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    .arrow {
        position: absolute;
        pointer-events: none;
        height: 20px;
        top: (50px - 20px) /2;
        z-index: 5;
    }

    .text {
        position: absolute;
        z-index: 5;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    $hover-extend: 130px;

    .sidebar-border {
        position: absolute;
        top: 0;
        width: 81px;
        height: 50px;
        background-color: #f2f2f2;
        border: 2px solid #00ffcc;
        border-left: none;
        border-right: none;
        transition: all 0.3s ease-in-out;
    }

    .sidebar-bg {
        position: absolute;
        top: 0;
        height: 50px;
        fill: #f2f2f2;
        stroke: #00ffcc;
        transition: fill 0.3s ease-in-out;
    }

    &:hover {
        width: 104px + $hover-extend;

        .text {
            opacity: 1;
        }

        .sidebar-border {
            background-color: #00ffcc;
            width: 81px + $hover-extend;
        }

        .sidebar-bg {
            fill: #00ffcc;
        }
    }

    &.left-sidebar {
        left: 0;
        padding-right: 20px;

        .arrow {
            left: 20px;
        }

        .text {
            left: 105px;
        }

        .sidebar-border {
            left: 0;
        }

        .sidebar-bg {
            right: 0;
        }
    }

    &.right-sidebar {
        right: 0;
        padding-left: 20px;

        .arrow {
            right: 20px;
            transform: rotateY(180deg);
        }

        .text {
            right: 105px;
        }

        .sidebar-border {
            right: 0;
        }

        .sidebar-bg {
            left: 0;
        }
    }
}


.intro {
    position: relative;
    z-index: 1;
    background-color: #f2f2f2;
    padding-top: 300px;
    padding-bottom: 50px;

    h1 {
        text-align: center;
        font-size: 72px;
        margin-bottom: 80px;
        color: #333;
    }

    h4 {
        color: #333;
        border-bottom: 1px solid #333;
        padding-bottom: 40px;
    }

    p {
        margin-top: 20px;
        font-size: 20px;
    }
}

.content {
    background-color: #f2f2f2;
    position: relative;
    z-index: 1;

    .navbar {
        padding-bottom: 0;

        .nav-item {
            font-size: 20px;
            height: 60px;
            line-height: 44px;
            width: 200px;
            margin-left: 6px;
            margin-right: 6px;
            text-align: center;
            color: #333;
            background-color: #fff;

            &.active {
                color: #fff;
                background-color: #333;
                box-shadow: -4px -3px 20px -4px #333;
            }
        }
    }

    .tab {
        background-color: #333;
        color: #fff;
    }
}

.visit-site {
    background-color: #f2f2f2;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 80px 0;
    margin-bottom: 453px;

    a {
        color: #333;
        border: 1px solid #333;
        border-radius: 60px;
        padding: 20px 60px;
    }
}


.parallax {
    z-index: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.photography {
    height: 300px;
    background-image: url(/assets/blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    position: relative;

    .shape {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 500px;
        height: 230px;
        background-image: url(/assets/snippet-right.svg);
        padding-top: 80px;
        padding-left: 145px;

        .text {
            color: #fff;
            font-size: 48px;
        }
    }
}
