<div class="not-parallax">
    <app-side-link *ngIf="!isMobile" name="MJerred" [routerLink]="['/design', 2]" right></app-side-link>

    <div class="intro">
        <h1>Button &amp; Wilde</h1>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4>Background</h4>
                    <p>
                        The client has a B2C ecommerce platform which sells personalised beauty products. After the initial launch the site had a very high bounce rate and low conversion rate, so improving these was the main focus of the project. Also the stakeholders wanted to restructure the way the company sells online.
                    </p>
                </div>
                <div class="col-sm">
                    <h4>My Role</h4>
                    <p>
                        I proposed and led the redesign process. My main task was to improve the layout of the homepage so that the product concept was clearly communicated. The second challenge was to simplify the user journey of the existing product's customisation feature.
                    </p>
                </div>
                <div class="col-sm">
                    <h4>Methods used</h4>
                    <ul>
                        <li>User Interviews</li>
                        <li>Design Studio</li>
                        <li>Wireframing</li>
                        <li>Prototyping</li>
                        <li>Guerrilla User Testing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <app-tabs>
        <app-tab heading="Discovery" height="1067px"><app-design-tab-discovery></app-design-tab-discovery></app-tab>
        <app-tab heading="Wireframe" height="1099px"><app-design-tab-wireframe></app-design-tab-wireframe></app-tab>
        <app-tab heading="Testing" height="596px"><app-design-tab-testing></app-design-tab-testing></app-tab>
        <app-tab heading="Design" height="815px"><app-design-tab-design></app-design-tab-design></app-tab>
    </app-tabs>

    <div class="visit-site">
        <a href="https://www.buttonandwilde.com/" target="_blank" rel="noopener">Visit Site</a>

        <app-side-link *ngIf="isMobile" name="MJerred" [routerLink]="['/design', 2]" right></app-side-link>
    </div>
</div>

<div class="parallax">
    <app-banner-link name="Photography" [routerLink]="['/photography']" right></app-banner-link>
    <app-footer></app-footer>
</div>
