<div class="container">
    <div class="row">
        <div class="col-sm">
           
            <img src="/assets/design/sound/concept.png">
        <h4>Concept mapping</h4>
        <p>I used concept mapping to analyse the interview transcriptions, this top down approach allowed me to decipher how sound and textile combined influenced emotion.</p>
          
        </div>
        <div class="col-sm">
            <img src="/assets/design/sound/tables.png">
            <h4>Category analysis</h4>
            <p>This method provided a clear visual representation of the results for each participant. Orange indicates positive emotion, blue indicates negative emotion and white indicates neutrual.</p>
        </div>
    </div>
</div>
