<div class="not-parallax">
        <app-side-link *ngIf="!isMobile" name="Blackhawk Intelligence" [routerLink]="['/design', 7]" [extend]="220" left></app-side-link>

    <div class="intro">
        <h1>Nested Shapes</h1>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4>Background</h4>
                    <p>Nested Shapes is the project of London-based musician/scientist Peter Jones. Peter previously built a name for himself in the progressive rock world, having been an original member of the progressive metal band Haken, and a current member of jazz fusion supergroup Nova Collective.
                    </p>
                </div>
                <div class="col-sm">
                    <h4>Challenge</h4>
                    <p>
                        In collaboration with the artist, I created all the album artworks and the artist profile imagery. I worked closely with him to conceptualise the music in an appropriate visual representation.
                    </p>
                </div>
                <div class="col-sm">
                    <h4>My Contribution</h4>
                    <ul>
                        <li>Graphic design</li>
                        <li>Photography </li>
                    </ul>
                </div>
            </div>

            <div class="row images">

                            <div class="col-sm-6">
                                    <figure><img src="/assets/design/5/final.png">
                                        <figcaption>Pyramid</figcaption>
                                    </figure>
                            </div>
                            <div class="col-sm-6">
                                    <figure><img src="/assets/design/5/scrape.png">
                                        <figcaption>Scrape (feat. Ghost Tapes)</figcaption>
                                    </figure>
                            </div>
                            <div class="col-sm-6">
                                    <figure><img src="/assets/design/5/sleep.jpg">
                                    <figcaption>Sleep (Remastered)</figcaption>
                                    </figure>
                            </div>

                            <div class="col-sm-6">
                                    <figure><img src="/assets/design/5/reconstruct.png">
                                    <figcaption>Reconstruct EP</figcaption>
                                    </figure>
                             </div>

                            <div class="col-sm-6">
                                    <figure><img src="/assets/design/5/grain.jpg">
                                    <figcaption>Grain EP</figcaption>
                                    </figure>
                            </div>
    
                            <div class="col-sm-6">
                                    <figure><img src="/assets/design/5/concept-4flat2.jpg">
                                    <figcaption>Nested shapes</figcaption>
                                    </figure>
                            </div>
    
            </div>

           

        </div>
    </div>

    <div class="visit-site">
        <a href="https://linktr.ee/nestedshapes" target="_blank" rel="noopener">Visit Site</a>

        <app-side-link *ngIf="isMobile" name="Blackhawk Intelligence" [routerLink]="['/design', 7]" [extend]="210" left></app-side-link>

    </div>
</div>

<div class="parallax">
        <app-banner-link name="UX Design" [routerLink]="['/design/ux']" left></app-banner-link>
    <app-footer></app-footer>
</div>
