<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/death/prototype-1.jpg">
            <h4>Mapping the relationship</h4>
            <p>
                My idea was to place the parents in the centre but separately, other parties involved will be placed around them at different distances depending upon how much they were affected by the event.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/death/prototype-2.jpg">
            <h4>Connecting the dots</h4>
            <p>
                The relationships between the key parties such as the the parents and their friends and families are represented by a thicker red line, the thinner line represents their relationship with wider society.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="/assets/design/death/prototype-3.jpg">
            <h4>Adding the element of shock</h4>
            <p>
                We wanted to add an element of shock to the model because we want the audience to experience how the parents felt when they discovered the death of the baby. We made a box that contains the model with a balloon hidden inside, the box represents the womb of the mother. We also added some red powder inside of the balloon so when it bursts it will paint the board.
            </p>
        </div>
        <div class="col-sm">
            <img src="/assets/design/death/prototype-4.jpg">
            <h4>Demonstrating the influence</h4>
            <p>
                After the balloon burst in the box, the red powder was left on the model representing how much each party was affected by the event. The more central the figure is the more he/she is affected as demonstrated in the model.
            </p>
        </div>
    </div>
</div>
