<div class="not-parallax">
    <app-side-link *ngIf="!isMobile" name="Empowering menstrual sleep" [extend]="300" [routerLink]="['/design', 3]" left></app-side-link>


    <div class="intro">
        <h1>A new beginning</h1>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4>Background</h4>
                    <p>
                        The brief was to design an experience that enables or enhances a good death. Medicine has triumphed in modern times, transforming the dangers of childbirth, injury, and disease from agonising to manageable. But when it comes to the inevitable realities of ageing and death, what medicine can do often runs counter to what it should. In recent years death has become a medicalised experience as opposed to a humanised experience. End of life care puts our fates in the hands of people valued more for their technical accomplishments thanfor their understanding of human needs.
                    </p>
                </div>
                <div class="col-sm">
                    <h4>Challenge</h4>
                    <p>
                        We challenged ourselves to identity a good death for an unborn fetus. Based on literature review, we discovered stillbirth has a dramatic negative effect on the entire family and the mother especially. However, the bereavement is not always facilitated and supported by wider society. The design outcome was an temporary environment in the form of an inflatable room. Viewers were invited to enter the room where they sat on the floor. A multimodal experience involving light, sound, and space conjured the distressing circumstances of a still-birth.
                    </p>
                </div>
                <div class="col-sm">
                    <h4>My Contribution</h4>
                    <ul>
                        <li>Literature Review</li>
                        <li>Ideation</li>
                        <li>Prototyping</li>
                        <li>Data Visualisation</li>
                        <li>Experience Design</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <app-tabs>
        <app-tab heading="Research" height="600px"><app-tab-research></app-tab-research></app-tab>
        <app-tab heading="Analysis" height="1183px"><app-tab-prototype></app-tab-prototype></app-tab>
        <app-tab heading="Prototype" height="660px"><app-tab-design></app-tab-design></app-tab>
        <app-tab heading="Design" height="747px"><app-tab-demonstration></app-tab-demonstration></app-tab>
    </app-tabs>

    <div class="visit-site">
        <p>MA group project at LCC</p>

        <app-side-link *ngIf="isMobile" name="Empowering menstrual sleep" [extend]="240" [routerLink]="['/design', 8]" left></app-side-link>
    </div>
</div>

<div class="parallax">
        <app-banner-link name="UI Design" [routerLink]="['/design/ui']" right></app-banner-link>
    <app-footer></app-footer>
</div>
