<div class="not-parallax">
    <app-side-link *ngIf="!isMobile" name="The UX of Urban Space" [extend]="230" [routerLink]="['/design', 3]" left></app-side-link>
    <app-side-link *ngIf="!isMobile" name="Nested Shapes" [extend]="180" [routerLink]="['/design', 5]" right></app-side-link>

    <div class="intro">
        <h1>The UX of Death</h1>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4>Background</h4>
                    <p>
                        This is a project under my UX Masters Degree at LCC. The brief was to identify and measure what makes a good death. It was required to prototype a digital intervention which will enhance a positive end of life experience, taking into consideration the last weeks, days and minutes of life.
                    </p>
                </div>
                <div class="col-sm">
                    <h4>Challenge</h4>
                    <p>
                        We challenged ourselves to identity a good death for an unborn fetus. Based on research, we discovered stillbirth has a dramatic negative effect on the entire family and the mother especially. However, the bereavement is not always facilitated and supported by wider society. We created an immersive experience to help others understand the pain and sorrow the parents have been through.
                    </p>
                </div>
                <div class="col-sm">
                    <h4>My Contribution</h4>
                    <ul>
                        <li>Literature review</li>
                        <li>Ideation</li>
                        <li>Prototyping</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <app-tabs>
        <app-tab heading="Research" height="582px"><app-tab-research></app-tab-research></app-tab>
        <app-tab heading="Prototype" height="1183px"><app-tab-prototype></app-tab-prototype></app-tab>
        <app-tab heading="Design" height="660px"><app-tab-design></app-tab-design></app-tab>
        <app-tab heading="Demonstration" height="747px"><app-tab-demonstration></app-tab-demonstration></app-tab>
    </app-tabs>

    <div class="visit-site">
        <p></p>

        <app-side-link *ngIf="isMobile" name="The UX of Urban Space" [extend]="230" [routerLink]="['/design', 3]" left></app-side-link>
        <app-side-link *ngIf="isMobile" name="Nested Shapes" [extend]="180" [routerLink]="['/design', 5]" right></app-side-link>
    </div>
</div>

<div class="parallax">
    <app-banner-link name="Photography" [routerLink]="['/photography']" right></app-banner-link>
    <app-footer></app-footer>
</div>
