<div class="not-parallax">
    <app-side-link *ngIf="!isMobile" name="Nested Shapes" [extend]="180" [routerLink]="['/design', 2]" [extend]="180" left></app-side-link>
    <app-side-link *ngIf="!isMobile" name="Blackhawk Intelligence" [routerLink]="['/design', 4]" [extend]="220" right></app-side-link>

    <div class="intro">
        <h1>M Jerred</h1>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4>Background</h4>
                    <p>
                        This project was in collaboration with a specialist .NET and Angular developer to create his portfolio website.
                    </p>
                </div>
                <div class="col-sm">
                    <h4>Challenge</h4>
                    <p>
                        The client wanted to showcase the advantage of single page applications, I created a minimalist design with a sliding animation effect for the page transitions.
                    </p>
                </div>
                <div class="col-sm">
                    <h4>Service</h4>
                    <ul>
                        <li>UX Design</li>
                        <li>UI Design</li>
                        <li>Photography </li>
                    </ul>
                </div>
            </div>
            <div class="row images">
                <div class="col-sm-6"><img src="/assets/design/2/screenshot-1.png"></div>
                <div class="col-sm-6"><img src="/assets/design/2/screenshot-2.png"></div>
            </div>
        </div>
    </div>

    <div class="visit-site">
        <a href="https://mjerred.com/" target="_blank" rel="noopener">Visit Site</a>

        <app-side-link *ngIf="isMobile" name="Nested Shapes" [extend]="180" [routerLink]="['/design', 2]" [extend]="180" left></app-side-link>
        <app-side-link *ngIf="isMobile" name="Blackhawk Intelligence" [routerLink]="['/design', 4]" [extend]="220" right></app-side-link>
    </div>
</div>

<div class="parallax">
    <app-banner-link name="Photography" [routerLink]="['/photography']" right></app-banner-link>
    <app-footer></app-footer>
</div>
